# MidBootcamp Project:

### Import libraries:

In [78]:
import pandas as pd
import numpy as np

### Load data:

In [113]:
df = pd.read_csv('/Users/rafaelrojas/Desktop/IH/Week_5/MidBootcamp_Project/Data/WorldCupMatches.csv')

df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

### Data exploring:

In [114]:
df.info()

print('The dataframes shape is: ', df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB
The dataframes shape is:  (4572, 20)

### Checking for NaN values:

In [115]:
na = print(df.isna().sum())

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

### Dropping the NaN values:

In [116]:
df = df.dropna()

df.isna().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

### Standardize column names:

In [117]:
cols = []
for x in df.columns:
    cols.append(x.lower().replace(' ','_'))
    
df.columns = cols

df.columns

Index(['year', 'datetime', 'stage', 'stadium', 'city', 'home_team_name',
       'home_team_goals', 'away_team_goals', 'away_team_name',
       'win_conditions', 'attendance', 'half-time_home_goals',
       'half-time_away_goals', 'referee', 'assistant_1', 'assistant_2',
       'roundid', 'matchid', 'home_team_initials', 'away_team_initials'],
      dtype='object')

### Dropping irrelevant columns:

In [118]:
df['win_conditions'].value_counts() # To drop or not to drop?

                                                 787
Italy win after extra time                         5
Argentina win after extra time                     4
Belgium win after extra time                       3
Win on Golden Goal                                 3
England win after extra time                       3
Brazil win on penalties (3 - 2)                    3
Netherlands win on penalties (4 - 3)               2
Argentina win on penalties (2 - 4)                 2
Germany win after extra time                       2
France win after extra time                        2
France win on penalties (3 - 4)                    2
Costa Rica win on penalties (5 - 3)                2
 win on penalties (5 - 4)                          1
Germany FR win on penalties (4 - 1)                1
Brazil win after extra time                        1
Czechoslovakia win after extra time                1
Hungary win after extra time                       1
Spain win after extra time                         1
Uruguay win on penalties (4 - 2)                   1
Paraguay win on penalties (5 - 3)                  1
Ghana win after extra time                         1
Italy win on penalties (5 - 3)                     1
Portugal win on penalties (1 - 3)                  1
Germany win on penalties (4 - 2)                   1
Ukraine win on penalties (0 - 3)                   1
Korea Republic win on penalties (3 - 5)            1
Northern Ireland win after extra time              1
Spain win on penalties (3 - 2)                     1
Brazil win on penalties (4 - 2)                    1
Argentina win on penalties (4 - 3)                 1
Germany FR win after extra time                    1
Sweden win on penalties (4 - 5)                    1
Bulgaria win on penalties (1 - 3)                  1
 win on penalties (4 - 3)                          1
Austria win after extra time                       1
 win on penalties (2 - 3)                          1
Yugoslavia win after extra time                    1
Republic of Ireland win on penalties (5 - 4)       1
Cameroon win after extra time                      1
Uruguay win after extra time                       1
Belgium win on penalties (4 - 5)                   1
 win on penalties (3 - 4)                          1
Name: win_conditions, dtype: int64

In [119]:
df = df.drop(['datetime', 'stage', 'stadium', 'city', 'referee', 'assistant_1', 
              'assistant_2', 'roundid', 'matchid', 'home_team_initials', 'away_team_initials'], axis=1)

The object of this project is to find the correlation between winning at half time and winnning the game. For this we won't be needing redundant columns as 'datetime', we can just keep 'year'. 

We also won't be needing 'stage' since the teams only face each other once.

While the stadium name and the city are nice features to have, they do not help us. Nor do the referee, assistants names, roundid, matchid columns. They would only overcomplicate things.

And lastly, since we already have columns with the full names of the teams, we won't be needing to know their initials, so we'll also drop the 'home_team_initials', 'away_team_initials' columns.

In [120]:
df.head()

,year,home_team_name,home_team_goals,away_team_goals,away_team_name,win_conditions,attendance,half-time_home_goals,half-time_away_goals
0,1930.0,France,4.0,1.0,Mexico,,4444.0,3.0,0.0
1,1930.0,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0
2,1930.0,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0
3,1930.0,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0
4,1930.0,Argentina,1.0,0.0,France,,23409.0,0.0,0.0

### Transforming columns into integers:

The numerical columns: 'year', 'home_team_goals', 'attendance', 'away_team_goals', 'half-time_home_goals' and 'half-time_away_goals' are all floats (continuous) values. However on the dataframe we are seeing discrete values since none of them can be split. So we'll be transforming values in these columns into integers.

In [121]:
df['year'] = df['year'].apply(np.int64)
df['home_team_goals'] = df['home_team_goals'].apply(np.int64)
df['away_team_goals'] = df['away_team_goals'].apply(np.int64)
df['half-time_home_goals'] = df['half-time_home_goals'].apply(np.int64)
df['half-time_away_goals'] = df['half-time_away_goals'].apply(np.int64)

df.dtypes

year                      int64
home_team_name           object
home_team_goals           int64
away_team_goals           int64
away_team_name           object
win_conditions           object
attendance              float64
half-time_home_goals      int64
half-time_away_goals      int64
dtype: object

In [122]:
def half_time(df):
    df['half-time_winner'] = []
    if ['half-time_home_goals'] > ['half-time_away_goals']:
        ['half-time_winner'] == ['home_team_name']
    elif ['half-time_home_goals'] < ['half-time_away_goals']:
        ['half-time_winner'] == ['away_team_name']
    else: 
        ['half-time_winner'] == 'Tie'

In [123]:
df['half-time_winner'] = df.apply(half_time)

In [124]:
df.head()

,year,home_team_name,home_team_goals,away_team_goals,away_team_name,win_conditions,attendance,half-time_home_goals,half-time_away_goals,half-time_winner
0,1930,France,4,1,Mexico,,4444.0,3,0,NaN
1,1930,USA,3,0,Belgium,,18346.0,2,0,NaN
2,1930,Yugoslavia,2,1,Brazil,,24059.0,2,0,NaN
3,1930,Romania,3,1,Peru,,2549.0,1,0,NaN
4,1930,Argentina,1,0,France,,23409.0,0,0,NaN

H0: winner at half-time wins the game.

H1: winner at half-time ties or loses the game.